**/*.nii.gz
**/*.nii
**/*.mat
**/*.mgh
**/*.rds
.ipynb_checkpoints/
.ipynb_checkpoints/*
data/
stdout/
.DS_Store
**/*.pt
**/*.pyc
**/*.csv
**/*.rds
.Rproj.user/
.RData
.Rhistory
prl_pytorch/cv_models/
prl_pytorch/cv_individual_models/
prl_pytorch/models/
prl_pytorch/trace_models/
